.parent {
  display: grid;
  /* grid-template-columns: 100px 200px 100px; */
  /* for n times columns you will have functions such as repeat */
  /* grid-template-columns: repeat(4, 50px); */
  /* grid-template-rows: 50px 75px 50px; */
  grid-auto-rows: 50px 75px 50px; /* To allow varying rows to have proper space per given format */
  /* When you want to divide in fractions */
  grid-template-columns: 1fr 1fr 1fr; /* it is reponsive */
  background-color: aqua;
  column-gap: 10px;
  row-gap: 10px;
}

.child {
  background-color: wheat;
  /* border: 1px solid white; */

  /* Make child flex to justify their content */
  display: flex;
  justify-content: center;
  align-items: center;
}
